@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;900&family=Satisfy&display=swap');

:root {
    --verde-escuro: #038c4cde;
    --verde-mais-escuro: #024D2A;
    --verde-claro: #8CBF7E;
    --verde-mais-claro: #d8e2d5;
    --verde-mais-claro-transp: #d8e2d5cc;
    --amarelo: #F2A444;
    --marrom: #73461F;
    --vermelho: #F25749;

    --fonte-reuti: 'Righteous', cursive;
    --fonte-licias: 'Satisfy', cursive;
    --fonte-conteudo: 'Roboto', sans-serif;
    --fonte-conteudo-cond: 'Roboto Condensed', sans-serif;
}
