footer {
    background-color: var(--verde-escuro);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0 1rem 0;
}

section#email-redes {
    display: flex;
    align-items: center;
    gap: 8rem;
}

section#email-redes input[type='email'] {
    border-radius: 5px;
    padding: 0 5px;
}

section#email-redes ::placeholder {
    font-family: var(--fonte-reuti);
    font-size: .8rem;
}


nav.redes-sociais {
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav.redes-sociais img {
    width: 2.5rem;
}

nav.redes-sociais img:hover {
    transform: scale(1.15, 1.15);
    transition: 0.5s;
}


section#rodape-info p {
    margin: 0;
    text-align: center;
    font-size: .8rem;
}