/* header {
    background-color: #eeeeee;
} */

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: var(--fonte-reuti);
    gap: 2rem;
}

a:any-link {
    text-decoration: none;
    padding: 0.5rem;
    color: var(--verde-escuro);
}

.logo_menu {
    height: 7rem;
}
