.conteudo {
    text-align: center;
    padding: 2rem;
    width: 900px;
    margin: 0 auto;
}

.conteudo p {
    font-family: var(--fonte-conteudo-cond);
    text-align: justify;
    text-indent: 2rem;
}

.titulo {
    font-family: var(--fonte-licias);
    color: var(--vermelho);
    font-size: 1.8rem;
    padding: 1rem;
}
