/* GERAL */
body {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: var(--fonte-licias);
    color: var(--vermelho);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

.textos {
    font-family: var(--fonte-conteudo-cond);
    font-size: 1.5rem;
    text-align: justify;
}

/* INDEX */
#index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.conteudo {
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.ultimas-publicacoes--container,
.dicas-jardinagem--container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.conteudo figure {
    width: 26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo img {
    width: 25vw;
}

.conteudo figcaption {
    width: 25vw;
    margin-top: 8px;
    line-height: 18px;
    padding: 0;
    text-align: justify;
    font-family: var(--fonte-conteudo-cond);
    font-size: 1.5rem;
}

.ultimas-publicacoes--card figcaption,
.dicas-jardinagem--card figcaption {
    font-size: .9em;
}

.ultimas-publicacoes--card a,
.ultimas-publicacoes--card a:hover, 
.dicas-jardinagem--card a,
.dicas-jardinagem--card a:hover {
    text-decoration: none;
    color: black;
}

.ultimas-publicacoes--card:hover,
.dicas-jardinagem--card:hover,
.video:hover {
    opacity: 0.8;
    transition: 0.5s;
}

/* RECEITAS */
.receitas {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 10vw;
    row-gap: 8vh;
    margin: 0 auto;
}

/* PÁGINA RECEITAS */
.pagina-receitas {
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titulo-receita {
    font-family: var(--fonte-reuti);
    color: var(--verde-escuro);
    font-size: 1.8rem;
    text-align: center;
}

.textos li,
.instrucoes {
    margin: 0.7rem 0;
}

/* FEIRA */
.feira {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}
.feira .mapa {
    width: 80vw;
}

/* SOBRE NOS */
#main-sobre-nos {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-sobre-nos section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span.reuti {
    font-family: var(--fonte-reuti);
    color: var(--verde-escuro);
}

span.licias {
    font-family: var(--fonte-licias);
    color: var(--vermelho);
}

.autores--perfis {
    display: flex;
    justify-content: center;
    gap: 6rem;
    padding-top: 2.5rem;
}

.autores--foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.autores--perfis figure:hover {
    transform: scale(1.10, 1.10);
    transition: 0.5s;
}

.autores--perfis figure figcaption {
    font-size: 1.3rem;
    padding-top: 0.3rem;
    text-align: center;
}

.item12-onu {
    width: 400px;
    height: 400px;
    padding-top: 1rem;
}

.item12-onu:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.item12 {
    font-size: 1rem;
    margin: 0 15rem 2rem 15rem;
}

.item12 span {
    font-weight: bold;
}

.projetos {
    width: 500px;
    height: 250px;
    margin: 1rem auto;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 5px 5px 8px rgb(129, 129, 129);
}

.carousel-item {
    width: 100%;
}
