
/*.navbar{
    background-color: white;
}*/

/*.container{
    padding-top: 1em;
}*/

/*.logo{
    text-decoration: none;
    color: black;
    margin-left: 1em;
    padding-top: 1em;
    font-size: 21px;
}*/

/*.logospan{
    color: rgba(4, 111, 212, 0.699);
}*/

/*.mobile-menu{
    margin-left: 18.7em;
    width: 1.6em;
}*/

body{
    background: rgb(3, 3, 3);
    margin: 0;
}

ul{
    margin-top: 8px;
}

/*header{
    background: rgb(34, 32, 32);
    padding-top: 0;
}*/

.apresentacao h1{
    color: white;
    text-align: center;
    padding-top: 14px;
    margin: 0;
}

.apresentacao p{
    color: white;
    padding: 0 12px 15px 14px;
    text-align: justify;
}

.time img{
    width: 5em;
    height: 5em;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: -3em;
}

.time li {
    list-style-type: none;
    background-color: white;
    margin: 3.7em 2em 3.7em 1.3em;
    text-align: center;
    padding: 2px 8px;
    border-radius: 10px;
    width: 80%;
    height: 14.5em;
}

.time p {
    text-align: center;
    padding: 0.5em 2em 0 2em;
    margin-top: 10px;
}

.time h1 {
    padding: 4px 0 0 0;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 20px;
}
