section#cadastroVendaImovel {

  background-color: #313548;
  padding-top: 5%;
  padding-bottom: 5%;
}

.form button {

  padding: 15px;
  width: 30%;
  background-color: #313548;
  border: none;
}

.form button:hover {

  opacity: 0.8;
  cursor: pointer;
}

.form button a {

  color: #fffffa;
  font-size: 20px;
}


section#cadastroVendaImovel .form {
  overflow: hidden;
  background: #fffffa;
  width: 80%;
  height: 70%;
  margin: 0px auto;
  text-align: center;
  padding-bottom: 5%;

}

section#cadastroVendaImovel h1 {

  text-transform: uppercase;
  font-weight: normal;
  color: grey;
  letter-spacing: 2px;
  font-size: 25px;

}

section#cadastroVendaImovel h1 span {


  font-size: 12px;

}

.form h2 {


  color: grey;
  font-weight: normal;
  font-size: 20px;

}



h2.header-form {

  background-color: #313548;
  padding: 15px;
  color: #fffffa;
  text-transform: uppercase;
}

.form-cadastro {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  width: 70%;
  margin-left: 25%;
  margin-bottom: 5%;
}

.logo-cadastro {

  display: flex;
  align-items: center;
  float: left;

  width: 25%;
  height: 350px;
}

.logo-cadastro img {


  width: 60%;
  margin-left: 20%;
}

.input {

  display: flex;
  flex-direction: column;
  width: 48%;
  color: #313548;

}

.form-cadastro .input {

  display: flex;
  flex-direction: column;
  width: 48%;
  color: #313548;

}

.form input {

  border: 1px solid grey;
  color: #313548;
}

.infosimovel .input {


  width: 100%;
}

.infosimovel .check {


  width: 10%;
}

.infosimovel .input textarea {


  width: 100%;
}

.form-cadastro .input-textarea {

  width: 100%;
}

.form-cadastro .input-email {

  width: 100%;
}

.form-cadastro .input-textarea textarea {

  width: 100%;
}

.infosimovel .input-menor {


  width: 15%;
}

.infosimovel .input-medio {


  width: 48%;
}


.infosimovel {



  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5%;
  padding: 15px;
}



label {

  display: flex;
  justify-content: flex-start;
}

.check label {
  display: flex;
  justify-content: flex-end;

}

.check input[type="checkbox"] {

  width: 100px;
}

section#cadastroVendaImovel label {

  line-height: 40px;

}

section#cadastroVendaImovel input {

  width: 100%;
  padding: 10px;
  margin-bottom: 5%;
}


@media (max-width: 575.98px) {
  section#cadastroVendaImovel .form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    height: auto;
    margin-top: 0;
  }

  section#cadastroVendaImovel input,
  label {
    margin: 5px;
  }

   .infosimovel {



    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5%;
    padding: 15px;
  }

  .infosimovel .input-menor {


    width: 100%;
  }
  
  .infosimovel .input-medio {
  
  
    width: 100%;
  }

  .title-infos {

    padding-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
