section#tela-login {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #313548;
}

.container-login {

  background-color: #fffffa;
  border: 1px solid #fffffa;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vh;
  height: 85vh;
  padding-top: 5vh;
  padding-bottom: 10vh;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0.19);
}

.logo-login {

  width: 25%;
  margin-bottom: 10%;

}

.logo-login img {

  width: 100%;

}

.input-codigo {


  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-codigo h1 {


  margin-left: 12.5%;
  margin-bottom: 4%;
  color: #cd4631;
  font-size: 16px;
}

input.codigo {



  width: 75%;
  font-size: 18px;
  padding: 10px;
  margin-left: 12.5%;
  margin-bottom: 10%;
  background-color: #d6d7da;
  border: 1px solid #d6d7da;
  border-radius: 5px;
}

input::placeholder {
  color: #8d8e90;
}

input {



  width: 75%;
  font-size: 18px;
  padding: 10px;
  margin-left: 12.5%;
  background-color: #d6d7da;
  border: 1px solid #d6d7da;
  border-radius: 5px;
}

input.submit-login {

  font-size: 22px;
  margin-top: 15%;
  color: #fff;
  background-color: #313548;
  border: 2px solid #313548;
  padding: 12px;
  width: 75%;
  cursor: pointer;
}

.recuperar-senha {

  display: flex;
  justify-content: flex-end;
  margin-right: 12.5%;
  margin-top: 1%;

}

.recuperar-senha p a {

  color: #cd4631;
  font-size: 12px;

}